<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <!-- api url configuration -->
        <add key="Binance.PricesUrl" value="https://api.binance.com/api/v1/ticker/allPrices" />
        <add key="Bittrex.PricesUrl" value="https://bittrex.com/api/v1.1/public/getmarketsummaries" />
        <add key="Compare.PricesUrl" value="https://min-api.cryptocompare.com/data/price?" />

        <!-- default application values -->
        <add key="DefaultArbitragePercentage" value="3.5" />
        <add key="DefaultRefreshTimeoutInSeconds" value="35"/>
        <add key="DefaultPromptTimeoutInSeconds" value="10"/>
      
        <!-- formatting and column template -->
        <add key="DefaultColumnFormat" value="{0,-12}{1,-14}{2,-14}{3,-18}{4,-18}{5,-18}{6,-15}{7,-15}{8,-14}"/>
        <add key="DefaultSeperatorWidth" value="133"/>
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>